    <div class="footer" style="clear: both;">
      - <a href="http://www.2chan.net" rel="contact">futaba</a> + <a href="http://www.1chan.net" rel="contact">futallaby</a> + <a href="http://www.kusaba.org" rel="me">kusaba</a> + <a href="http://pyib.appspot.com" rel="me">PyIB</a> -
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-71983-20");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  </body>
</html>