<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>
<?py if board: ?>
      /#{board}/ - #{board_name}
<?py else: ?>
      #{title}
<?py #endif ?>
    </title>
    <link rel="shortcut icon" href="#{boards_url}static/favicon.ico">
    <link rel="stylesheet" href="#{boards_url}static/css/global.css">
    <link rel="alternate stylesheet" type="text/css" href="#{boards_url}static/css/futaba.css" title="Futaba">
    <link rel="stylesheet" type="text/css" href="#{boards_url}static/css/burichan.css" title="Burichan">
    <script type="text/javascript"><!--
    var style_cookie = 'pyib_style';
    var ispage = #{is_page};
    //--></script>
    <script type="text/javascript" src="#{boards_url}static/js/pyib.js"></script>
  </head>
  <body>
    <div class="adminbar">
      [<a href="#" onclick="javascript:set_stylesheet('Futaba');return false;">Futaba</a>] [<a href="#" onclick="javascript:set_stylesheet('Burichan');return false;">Burichan</a>] - [<a href="#{home_url}">Home</a>] [<a href="#{cgi_url}manage">Manage</a>]
    </div>
<?py if navbar: ?>
  <?py include('templates/navbar.html') ?>
<?py #endif ?>
    <div class="logo">
      <img src="#{banner_url}" width="#{banner_width}" height="#{banner_height}" alt="Logo"><br>
<?py if board: ?>
      /#{board}/ - #{board_name}
<?py #endif ?>
    </div>
    <hr>
    <div style="text-align: center;">
      <script type="text/javascript"><!--
      google_ad_client = "pub-6158454562572132";
      /* n7c Top of Page */
      google_ad_slot = "1696327918";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
    <hr>
