<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>
<?py if board: ?>
      /#{board}/ - #{board_name}
<?py else: ?>
      #{title}
<?py #endif ?>
    </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="#{boards_url}static/favicon.ico">
    <link rel="stylesheet" href="#{boards_url}static/css/global.css">
<?py if default_style == 'Futaba': ?>
    <link rel="stylesheet" type="text/css" href="#{boards_url}static/css/futaba.css" title="Futaba">
    <link rel="alternate stylesheet" type="text/css" href="#{boards_url}static/css/burichan.css" title="Burichan">
<?py else: ?>
    <link rel="alternate stylesheet" type="text/css" href="#{boards_url}static/css/futaba.css" title="Futaba">
    <link rel="stylesheet" type="text/css" href="#{boards_url}static/css/burichan.css" title="Burichan">
<?py #endif ?>
    <script type="text/javascript"><!--
    var style_cookie = 'pyib_style';
    var ispage = #{is_page};
    var cgi_url = '#{cgi_url}';
    //--></script>
    <script type="text/javascript" src="#{boards_url}static/js/pyib.js"></script>
  </head>
  <body>
    <div class="adminbar">
      [<a href="#" onclick="javascript:set_stylesheet('Futaba');return false;">Futaba</a>] [<a href="#" onclick="javascript:set_stylesheet('Burichan');return false;">Burichan</a>] - [<a href="#{home_url}">Home</a>] [<a href="#{cgi_url}manage">Manage</a>]
    </div>
<?py if navbar: ?>
  <?py include('templates/navbar.html') ?>
<?py #endif ?>
    <div class="logo">
      <img src="#{banner_url}" width="#{banner_width}" height="#{banner_height}" alt="Logo"><br>
<?py if board: ?>
      /#{board}/ - #{board_name}
<?py #endif ?>
    </div>
    <hr width="90%" size="1">
