<?py include('templates/base_top.html') ?>
<style type="text/css">
.managenav a {
	font-weight: bold;
}

fieldset { margin-bottom: 10px; }
	
legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}
	
label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
}
	
fieldset ol {
	margin: 0;
	padding: 0;
}
	
fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}
	
fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}
	
fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}
	
fieldset fieldset label {
	display: block;
	width: auto;
}

em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}

label { width: 120px; } /* Width of labels */
fieldset fieldset label { margin-left: 123px; } /* Width plus 3 (html space) */

/*\*//*/ legend { display: inline-block; } /* IE Mac legend fix */
</style>
<?py if validated: ?>
  <div style="text-align: center;" class="managenav">
    Logged in as <b><acronym title="Account created #{added}">#{username}</acronym></b> with
    <?py if rights == '0': ?>
    <span class="superadministrator">Super-Administrator</span>
    <?py elif rights == '1': ?>
    <span class="administrator">Administrator</span>
    <?py elif rights == '3': ?>
    <span class="moderator">Moderator</span>
    <?py #endif ?>
    privileges.<br>
    - <a href="#{cgi_url}manage">Home</a> - <a href="#{cgi_url}manage/modbrowse">Modbrowse</a> - <a href="#{cgi_url}manage/bans">Ban list</a> - <a href="#{cgi_url}manage/changepassword">Change password</a> - <a href="#{cgi_url}manage/logout">Log out</a> -
    <?py if administrator: ?>
    <br>
    - <a href="#{cgi_url}manage/rebuild">Rebuild board</a> - <a href="#{cgi_url}manage/board">Board options</a> - <a href="#{cgi_url}manage/addboard">Add board</a> -
    <?py if rights == '0': ?>
    <a href="#{cgi_url}manage/staff">Staff</a> - <a href="#{cgi_url}manage/logs">Logs</a> -
    <?py #endif ?>
    <?py #endif ?>
  </div>
  <hr>
<?py #endif ?>
#{page}
<hr>
<?py include('templates/base_bottom.html') ?>