<?py include('templates/base_top.html') ?>
<style type="text/css">
label {
	font-size: 12px;
	text-align: right;
	width: 175px;
	padding-right: 20px;
}
</style>
<?py if validated: ?>
  <div style="text-align: center;">
    Logged in as <b><acronym title="Account created #{added}">#{username}</acronym></b> with
    <?py if rights == '0': ?>
    Super-Administrator
    <?py elif rights == '1': ?>
    Administrator
    <?py elif rights == '3': ?>
    Moderator
    <?py #endif ?>
    privileges<br>
    - <a href="#{cgi_url}manage">Home</a> - <a href="#{cgi_url}manage/modbrowse">Modbrowse</a> - <a href="#{cgi_url}manage/bans">Ban list</a> - <a href="#{cgi_url}manage/changepassword">Change password</a> - <a href="#{cgi_url}manage/logout">Log out</a> -
    <?py if administrator: ?>
    <br>
    - <a href="#{cgi_url}manage/rebuild">Rebuild board</a> - <a href="#{cgi_url}manage/addboard">Add board</a> -
    <?py if rights == '0': ?>
    <a href="#{cgi_url}manage/staff">Staff</a> - <a href="#{cgi_url}manage/logs">Logs</a> -
    <?py #endif ?>
    <?py #endif ?>
  </div>
  <hr>
<?py #endif ?>
#{page}
<hr>
<?py include('templates/base_bottom.html') ?>